<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio</title>

    <!-- font awesome cdn link  -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
  
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
 
    <link rel="stylesheet" href="Hv.css">

</head>
<body>

    <%-include('template/header'); %>

<section class="home" id="home">

    <div class="content">
        <h3>Juego de baloto</h3>
        <p > <b>Si quieres jugar haz click aquí</b> </p>
        <a class="btn" href="/Hv2" id="btnini">Jugar</a>
    </div>
    
</section>


<section class="icons-container">

    <div class="icons">
        <img src="icon-1.png" alt="">
        <div class="info">
            <h3>Juega y</h3>
        </div>
    </div>

    <div class="icons">
        <img src="icon-2.png" alt="">
        <div class="info">
            <h3>Gana dinero</h3>
        </div>
    </div>

    <div class="icons">
        <img src="n1.png" alt="">
        <div class="info">
            <h3>Buena</h3>
        </div>
    </div>

    <div class="icons">
        <img src="n0.png" alt="">
        <div class="info">
            <h3>Suerte</h3>
        </div>
    </div>
   
</section>


<section class="products" id="products">

    <h1 class="heading"> <span> ¿Qué es  </span> baloto? </h1>

    <div class="box-container1">

        <div class="box">
            <div class="image">
              <p class="textocard">  La probabilidad de obtener el premio acumulado es de una entre 15.401.568. Sin embargo, entre más participe en distintos sorteos e intente alternar entre dar números y escogerlos automáticamente con la máquina, puede tener más opción de ganar.</p>
            </div>
        </div>


        <div class="box">
            <div class="image">
                <p class="textocard">  Baloto es el juego de suerte y azar que ofrece a los apostadores colombianos la Super Balota, una oportunidad de ganar premios de hasta 50 millones de pesos.</p>
            </div>
        </div>

       

    </div>

</section>


<section class="contact1" id="contact1">

    <h1 class="heading"> <span> Contáctanos </span>  </h1>

    <div class="row1">

        <form action="">
            <input type="text" placeholder="Nombre" class="box1">
            <input type="email" placeholder="Correo" class="box1">
            <input type="number" placeholder="Número" class="box1">
            <textarea name="" class="box1" placeholder="Mensaje" id="" cols="30" rows="10"></textarea>
            <input type="submit" class="btn12" id="bmnsj">
        </form>

        <div class="image">
            <img src="contacto.jpg" alt="">
        </div>

    </div>

</section>


<%-include('template/footer'); %>

   
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="sweetAlert.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
 
</body>
</html>