<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HV</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
    <!-- STYLES CSS -->
    <link rel="stylesheet" href="Hv.css">

</head>

<body>
    <%-include('template/header'); %>

    <div class="container experiencia">
        <h2 class="t-cen mar-bot mar-top">REFERENCIA FAMILIAR</h2>
        <div class="accordion accordion-flush" id="accordionExample">
            <div class="accordion-item">
                
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>NOMBRE:</strong> Alba lucia FrancoGiraldo (mamá)
                        <br><strong>CARGO:</strong> Hogar
                        <br><strong>TELEFONO:</strong> 3118032261<br><br>

                        <strong>NOMBRE:</strong> Argenis Aristizabal Franco (hermana)
                        <br><strong>CARGO:</strong> Tecnóloga en saludocupacional
                        <br><strong>TELEFONO:</strong> 3102046902
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                
                
        </div>
    </div>

    
    <!-- Experiencia -->

    <div class="container experiencia">
        <h2 class="t-cen mar-bot mar-top">REFERENCIA PERSONAL</h2>
        <div class="accordion accordion-flush" id="accordionExample">
            <div class="accordion-item">
                
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-mdb-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>NOMBRE:</strong> Heidy Dayana Luna Muñoz
                    <br><strong>CARGO:</strong> Tecnóloga en negocios internacionales
                    <br><strong>TELEFONO:</strong> 3046545687<br><br>

                    <strong>NOMBRE:</strong> Karen DanielaSánchez Gómez
                    <br><strong>CARGO:</strong> Asistente administrativo
                    <br><strong>TELEFONO:</strong> 3206429037
                </div>
            </div>
        </div>
        </div>
    </div>
    <%-include('template/footer'); %>

<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
<!-- JS -->
<script src="js/main.js"></script>
</body>
</html>