<body>
    <footer class="footer">
        <div class="text-center text-muted">
          <p>&copy; Milena Aristizabal.<br>26 -<a class="credit">Octubre - 2022</a></p>
        </div>
      </footer>
</body>

