<body>
  

  <header>

    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>

    <img src="logsuerte.jpg" width="50px">

    <nav class="navbar">
        <a href="#products">Acerca de</a>
        <a href="#contact1">Contáctanos</a>
        <a href="#home">Iniciar</a>
    </nav>

   
</header>

</body>