
    <body>
    
    <header>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarExample01">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                       
                        <li class="nav-item">
                            <a class="nav-link" href="/Hv1">Información personal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Hv2">Estudios/Experiencia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Hv3">Referencias</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="p-5 text-center bg-image">
            <div class="mask">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h1 class="mb-3">Milena Aristizabal Franco<br>Estudiante de programación</h1>
                    </div>
                </div>
            </div>
        </div>

    </header>
</body>